@import '../../scss/index.scss';

.header-container {
  margin-top: 30px;
  @include margins;

  &__first-line {
    display: flex;
    align-items: center;
    height: 50px;
  }

  &__pin {
    margin-left: 10px;
    width: 30px;
  }
}

.big-pin-button {
  border: none;
  background: transparent;
  @include cursor;
}