@import '../../scss/index.scss';

form {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  margin-right: 50px;
}

input {
  height: 30px;
  width: 340px;
  border-radius: 22px;
  border-color: 1px solid $light-grey;
  color: $black;
  padding-left: 35px;
  margin: 10px 0 10px 0;

  &:focus {
    @include focus;
  }
}

.clear-button {
  @include cursor;
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background-color: transparent;

  &:hover {
    @include transition;
  }

  &:focus {
    outline: none;
  }
}

.search-icon {
  position: absolute;
  top: 17px;
  right: 350px;
  width: 20px;
}

.clear-icon {
  width: 15px;
}

