@mixin focus {
  box-shadow: 0 0 5px 0 white;
  outline: none;
}

@mixin cursor {
  cursor: pointer;
}

@mixin transition {
  transform: scale(1.1);
  transition: transform 300ms;
  transition: all 0.2s ease-in-out;
}

@mixin shadow {
  box-shadow: 3px 4px 7px 1px rgba(174, 174, 174, 0.35);
}

@mixin margins {
  margin-left: 50px;
  margin-right: 50px;
}
