main,
h1, 
p, 
input, 
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: .5px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 200;

}
