main,
h1, 
p, 
input, 
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: .5px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-weight: 200;

}
