@import '../../scss/index.scss';

.nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: $blue;
  @include shadow;
}

.logo {
  font-size: 30px;
  @include margins;

}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  @include margins;
}

.header-text {
  color: $black;
}

.activated-nav {
  border-bottom: 3px solid black;
  transition: transform 300ms;
  transition: all 0.2s ease-in-out;
  line-height: 0;
}